<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
<div id="app">
    <section class="section">
        <div class="container">

            <h1 class="title has-text-centered">
                URL Shortener
            </h1>

            <div>
                <div class="field">
                    <div class="control">
                        <div class="column">
                            <input class="input is-primary is-large has-text-centered"
                                   type="text"
                                   placeholder="Enter long URL here.."
                                   v-model="originUrl"
                                   @keyDown="ShortUrl = ''">
                        </div>
                        <div class="column">
                            <button class="button is-primary is-medium is-fullwidth"
                                    :disabled="! isValidOriginUrl"
                                    @click="shorten">
                                Make it short!
                            </button>
                        </div>
                        <div class="column">

                            <input class="input is-primary is-large has-text-centered"
                                   type="text"
                                   readonly
                                   onclick="this.select();"
                                   v-if="ShortUrl.length > 0"
                                   v-model="ShortUrl">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            originUrl: '',
            ShortUrl: '',
        },
        computed: {
            isValidOriginUrl: function () {
                regexp = /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
                return regexp.test(this.originUrl);
            }
        },
        methods: {
            shorten: function () {
                var $this = this;
                axios.post('/api/create/', {
                    originUrl: this.originUrl
                }).then(function (response) {
                    // handle success
                    $this.ShortUrl = response.data;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            }
        }
    })
</script>

</body>
</html>